In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('AOC24_day2.csv', header = None,  names = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'])

In [10]:
# levels are either all increasing or decreasing
# any two adjacent levels differ by 1-3. 
def determine_direction_and_test(row):
    # drop null values and convert row to a list
    values = row.dropna().values

    if len(values) < 2:
        return 'Not Determined', 'Failed'
    
    direction = 'Not Determined'
    test = 'Passed'

    for i in range(len(values) - 1):
        diff = values[i+1] - values[i]
        
        if abs(diff) not in [1, 2, 3]:
            test = 'Failed'
            break

        elif diff > 0:
            if direction == 'Not Determined':
                direction = 'Increasing'
            elif direction == 'Decreasing':
                direction = 'Failed'
                test = 'Failed'
                break
        
        elif diff < 0:
            if direction == 'Not Determined':
                direction = 'Decreasing'
            elif direction == 'Increasing':
                direction = 'Failed'
                test = 'Failed'
                break
    
    if direction == 'Failed':
        test = 'Failed'
    
    return direction, test

# Apply test function to each row
df['direction'], df['test'] = zip(*df.apply(determine_direction_and_test, axis=1))

In [11]:
df.head()

    A   B   C   D   E     F     G   H   direction    test
0  90  91  93  96  93   NaN   NaN NaN      Failed  Failed
1   3   5   7  10  11  11.0   NaN NaN  Increasing  Failed
2  35  37  39  42  46   NaN   NaN NaN  Increasing  Failed
3  67  70  72  74  79   NaN   NaN NaN  Increasing  Failed
4   9  12  13  16  15  16.0  19.0 NaN      Failed  Failed

In [15]:
# Count number of passed tests
df.test.value_counts()

test
Failed    579
Passed    421
Name: count, dtype: int64